@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900; /* Supporte les poids de 100 à 900 */
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/MonaSans/MonaSans-SemiBold.otf") format("opentype");
  font-weight: 600; /* Semi-bold */
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/MonaSans/MonaSans-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/MonaSans/MonaSans-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/MonaSans/MonaSans-Light.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
}
@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.progress-bar {
  height: 4px;
  width: 100%;
  background-color: #d1d5db;
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.progress-bar.progress-active {
  background-color: #3b82f6;
  animation: grow 0.5s ease-in-out forwards;
}

@layer base {
  body {
    @apply text-gray-900 dark:text-white;
  }

  /* Optionnel : Définir d'autres éléments textuels pour hériter de la couleur du corps */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  li,
  div,
  button,
  input,
  textarea {
    @apply text-gray-900 dark:text-white;
  }
}
