@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900; /* Supporte les poids de 100 à 900 */
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/MonaSans/MonaSans-SemiBold.otf") format("opentype");
  font-weight: 600; /* Semi-bold */
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/MonaSans/MonaSans-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/MonaSans/MonaSans-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/MonaSans/MonaSans-Light.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
}
@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

body {
  background-size: cover;
  background-position: center;
  background-color: none !important;
}

.light {
  background-image: url("/assets/img/fond2.png");
}

.dark {
  background-image: url("/assets/img/fond.png") !important;
}

.progress-bar {
  height: 4px;
  width: 100%;
  background-color: #d1d5db;
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.progress-bar.progress-active {
  background-color: #3b82f6;
  animation: grow 0.5s ease-in-out forwards;
}

@layer base {
  body {
    @apply dark:text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  li,
  div,
  button,
  input,
  textarea {
    @apply dark:text-white;
  }
}

@keyframes blinkBorder {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #348cff; /* Couleur primary */
  }
  100% {
    border-color: transparent;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

.blinking-border {
  border: 2px solid transparent;
  animation: blinkBorder 1s infinite;
  border-radius: 6px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="time"]::-moz-focus-inner {
  border: 0;
}

.swiper-initialized {
  height: 100%;
}

.card {
  transform-style: preserve-3d;
  perspective: 1000px;
  position: relative;
  transition: transform 0.3s;
}
.card__front,
.card__back {
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}
.card__front {
  z-index: 1;
  transform: rotateY(0deg);
}

#aquabike-card {
  background: linear-gradient(135deg, #c1dcff 0%, #ffffff 43%, #ffffff 100%);
}

#natation-card {
  background: linear-gradient(180deg, #c1dcff 0%, #ffffff 43%, #ffffff 100%);
}

#aquagym-card {
  background: linear-gradient(225deg, #c1dcff 0%, #ffffff 43%, #ffffff 100%);
}

.card__back {
  background-color: white;
  transform: rotateY(180deg);
  z-index: 5;
}

.card.blue {
  background: linear-gradient(135deg, #09afff, #125575);
}
.card.purple {
  background: linear-gradient(135deg, #5911f2, #290987);
}

.card .product {
  height: 85%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}
.product .number {
  font-size: 80px;
  line-height: 80px;
  font-style: italic;
  opacity: 0.25;
}
.product .sneakers {
  font-size: 35px;
  line-height: 35px;
  font-style: italic;
  opacity: 0.7;
}
.product img {
  height: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-35%, -45%, 0);
  pointer-events: none;
}
.product .price {
  background: rgba(255, 255, 255, 0.15);
  margin-top: auto;
  margin-left: auto;
  margin-right: -20px;
  padding: 5px 20px;
  border-radius: 99px 0 0 99px;
}

.card .title {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 12px 12px;
}
.card.blue .title {
  background: #039be5;
}
.card.purple .title {
  background: #5b1ae3;
}

.card:hover .product img {
  transform: translate3d(-50%, -40%, 80px);
}
.card:hover .product .number {
  transform: translateZ(20px);
  opacity: 1;
}
.card:hover .product .sneakers {
  transform: translateZ(20px);
  opacity: 0.85;
}
.card:hover .product .price {
  transform: translateZ(10px);
}
.card:hover .title h2 {
  transform: translateZ(10px);
}
/* État cliqué : on applique une rotation Y de 180° */
.card.flipped {
  transform: rotateY(180deg) !important;
}
/* From Uiverse.io by Nawsome */
.circle {
  animation: move571 2s linear infinite;
}

.circle.right {
  animation-direction: reverse;
}

@keyframes move571 {
  25% {
    transform: translateX(-32px);
  }

  75% {
    transform: translateX(32px);
  }
}

.survol-container {
  perspective: 1000px;
}

.survol-element {
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.survol-element:hover {
  transform: translateZ(50px) scale(1.1);
}

.no-transition {
  transition: none !important;
}
