@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900; /* Supporte les poids de 100 à 900 */
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/MonaSans/MonaSans-SemiBold.otf") format("opentype");
  font-weight: 600; /* Semi-bold */
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/MonaSans/MonaSans-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/MonaSans/MonaSans-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/MonaSans/MonaSans-Light.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
}
@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.progress-bar {
  height: 4px;
  width: 100%;
  background-color: #d1d5db;
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.progress-bar.progress-active {
  background-color: #3b82f6;
  animation: grow 0.5s ease-in-out forwards;
}

@layer base {
  body {
    @apply dark:text-white;
  }

  /* Optionnel : Définir d'autres éléments textuels pour hériter de la couleur du corps */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  li,
  div,
  button,
  input,
  textarea {
    @apply dark:text-white;
  }
}

@keyframes blinkBorder {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #348cff; /* Couleur primary */
  }
  100% {
    border-color: transparent;
  }
  
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}



.blinking-border {
  border: 2px solid transparent;
  animation: blinkBorder 1s infinite;
  border-radius: 6px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="time"]::-moz-focus-inner {
  border: 0;
}
body {
  overflow: hidden;
  user-select: none;
}
