#barchart-container {
  font-size: 0.85rem;

  height: max-content;
  width: max-content;
  border-radius: 10px;
  padding: 25px 12.5px;

  #title-barchart {
    font-size: 1.35rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
.custom-tooltip {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .block {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 35%;
  }
}
